# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
aft

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Certificate
*.pem

# docs
.jekyll-cache


# Misc
.DS_Store
*.swp

#client
/client/catalog/node_modules/
/client/catalog/package-lock.json
/client/catalog/public/build/
/client/explorer/node_modules/
/client/explorer/package-lock.json
